absl-py
altair
annotated-types
arabic-reshaper
asgiref
asn1crypto
astunparse
attrs
Babel
beautifulsoup4
blinker
blis
cachetools
catalogue
certifi
cffi
chardet
charset-normalizer
click
cloudpathlib
colorama
confection
contourpy
cryptography
cssselect
cssselect2
cycler
cymem
defusedxml
distlib
dj-rest-auth
Django
django-allauth
django-bootstrap4
django-cors-headers
django-grappelli
django-rest-auth
djangorestframework
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
feedfinder2
feedparser
filelock
Flask
flatbuffers
fonttools
fsspec
gast
gensim
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
google-pasta
googleapis-common-protos
googletrans
grpcio
grpcio-status
h11
h2
h5py
hpack
hstspreload
html5lib
httpcore
httplib2
httpx
huggingface-hub
hyperframe
idna
itsdangerous
jieba3k
Jinja2
joblib
jsonschema
jsonschema-specifications
keras
kiwisolver
langcodes
language_data
libclang
lxml
marisa-trie
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
ml-dtypes
mpmath
murmurhash
namex
networkx
newspaper3k
nltk
numpy
oauthlib
opencv-python
opt-einsum
optree
oscrypto
packaging
pandas
pathlib_abc
pathy
pillow
platformdirs
plotly
preshed
proto-plus
protobuf
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pydeck
pygame
Pygments
pyHanko
pyhanko-certvalidator
PyJWT
PyMySQL
pyparsing
pypdf
PyPDF2
pypng
python-bidi
python-dateutil
python3-openid
pytz
PyYAML
qrcode
razorpay
referencing
regex
reportlab
requests
requests-file
requests-oauthlib
rfc3986
rich
rpds-py
rsa
safetensors
scikit-learn
scipy
setuptools
sgmllib3k
shellingham
six
smart-open
smmap
sniffio
soupsieve
spacy
spacy-legacy
spacy-loggers
sqlparse
srsly
streamlit
svglib
sympy
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-intel
termcolor
textblob
thinc
threadpoolctl
tinycss2
tinysegmenter
tldextract
tokenizers
toml
toolz
torch
tornado
tqdm
transformers
typer
typing_extensions
tzdata
tzlocal
uritemplate
uritools
urllib3
virtualenv
wasabi
watchdog
weasel
webencodings
Werkzeug
wheel
wrapt
xhtml2pdf
